{% extends "base.html" %}

{% block page_content %}

<div class='row'>
		<div class="jumbotron">

			<div class = 'row'>
				<div class = 'col-md-4'>
					<h1> Calculate Tips</h1>
					<p><b>{{date}}</b></p>
				</div>  
				
				<div class = 'col-md-7'>
					<img src="static/tips_img.jpg"  style="width:500px;height:310px;">
		
				</div>  
			</div>
		</div>
</div>



<div class='row'>

	<p>My Two Pages</p>


	
	    <ol>
	      <li><a href="/like">What I Like</a></li>
	      <li><a href="/routine">My Routine</a></li>

	    </ol>
</div>		

{% endblock %}